@charset "utf-8";

:root {
  font-size: 10px;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  background-color: #dcdcdc;
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 3.2rem;
  color: #0b410b;
}

canvas {
  width: 51.2rem;
  height: 51.2rem;
}
